/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: white;
  color: #2b2b2b;
}

/* Container Layout */
.contact-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 100px 120px;
  width: 100%;
  background-color: white;
  transition: all 0.3s ease-in-out;
  margin-left: 40px;
}

/* Left Section */
.contact-left {
  width: 45%;
}

.contact-title {
 font-family: Gilroy;
font-size: 48px;
font-weight: 100;
line-height: 48px;
color: rgb(51, 51, 51);
margin-left: 100px;
}

.contact-address,
.contact-phone,
.contact-email,
.contact-hours,
.contact-collab {
 font-family: Gilroy;
font-size: 16px;
font-weight: 400;
line-height: 15px;
color: rgb(51, 51, 51);
margin-left: 160PX;
margin-top: 30px;
}

.contact-icons {
  display: flex;
  gap: 25px;
  margin: 30px 0px 35px 160px;
}

.icon {
  font-size: 35px;
  color: #2b2b2b;
  border: 1px solid #2b2b2b;
  border-radius: 50%;
  padding: 6px;
  width: 45px;
  height: 45px;
  transition: all 0.3s ease;
}

.icon:hover {
  color: #fff;
  background-color: #2b2b2b;
}
/* Right Section */
.contact-right {
  width: 40%;
  background: white;
  margin-right: 160px;
  margin-top: 50px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact-form label {
  font-family: Gilroy;
font-size: 12px;
font-weight: 400;
  line-height: 40px;
color: rgb(51, 51, 51);
}

.contact-form input[type="text"] {
  width: 100%;
  height: 50px;
  border: 1px solid #d9d9d9;
 font-family: Gilroy;
font-size: 16px;
font-weight: 400;
line-height: 24px;
color: rgb(51, 51, 51); 
  color: #222;
  background: #fff;
  transition: 0.3s ease;
}

.contact-form input[type="text"]:focus {
  outline: none;
  border-color: #333;
}

.contact-checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
}

.contact-checkbox input {
font-family: Gilroy;
font-size: 16px;
font-weight: 400;
line-height: 24px;
color: rgb(51, 51, 51);
  cursor: pointer;
}

.privacy-link {
  color: #333;
  text-decoration: underline;
  
}

.submit-btn {
  width: 100%;
  height: 50px;
  background: #333;
 font-family: Gilroy;
font-size: 16px;
font-weight: 400;
line-height: 54px;
color: rgb(255, 255, 255);
  letter-spacing: 1px;
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
}

.submit-btn:hover {
  background: #000;
}

/* -------- Responsive -------- */

/* Tablet (1024px) */
@media (max-width: 1024px) {
  .contact-container {
    flex-direction: column;
    padding: 60px 80px;
  }

  .contact-left,
  .contact-right {
    width: 100%;
  }

  .contact-title {
    font-size: 50px;
    text-align: center;
  }
}

/* Mobile Large (768px) */
@media (max-width: 768px) {
 .contact-container {
    padding: 30px 25px;
  }

  .contact-title {
    font-size: 32px;
    margin-left: -280px;
  }
  .contact-address,
.contact-phone,
.contact-email,
.contact-hours,
.contact-collab {
 font-family: Gilroy;
margin-left: -40px;
text-align: left;
}
.contact-icons {
  display: flex;
  margin-left: -300px;
}
  .contact-form input[type="text"],
  .submit-btn {
    height: 55px;
    font-size: 16px;
  }

  .contact-left {
    text-align: left;
  }
  .contact-right {
  width: 100%;
  background: #f8f8f8;
  margin-left: -40px;
}

  .contact-icons {
    justify-content: center;
  }
}

/* Mobile Small (480px) */
@media (max-width: 480px) {
  .contact-container {
    padding: 30px 25px;
  }

  .contact-title {
    font-size: 32px;
    margin-left: -280px;
  }
  .contact-address,
.contact-phone,
.contact-email,
.contact-hours,
.contact-collab {
 font-family: Gilroy;
margin-left: -40px;
text-align: left;
}
.contact-icons {
  display: flex;
  margin-left: -300px;
}
  .contact-form input[type="text"],
  .submit-btn {
    height: 55px;
    font-size: 16px;
  }

  .contact-left {
    text-align: left;
  }
  .contact-right {
  width: 100%;
  background: #f8f8f8;
  margin-left: -40px;
}

  .contact-icons {
    justify-content: center;
  }
}
